* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 70px;
    color: white;
    transition: 0.3s;
    

}
.navright ul a{
    text-decoration: none;
    color: inherit;
}
.scrolled{
    background: #212ea0;
}
.navbar img{
    width: 180px;
}
.navright{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: 0.5s;
}
.navright button{
    border-radius: 50px;
    cursor: pointer;
    border: none;
    padding: 12px 20px;
    height: auto;
    width: 140px;
    font-size: 18px;
    color: black;
    background-color: white;
    margin: 0;
    height: 45px;
    padding: 0 20px;
    
}
ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    align-items: center;
}
.hambut{
    display: none;
}
@media screen and (max-width: 914px) {
    .hambut {
        display: flex; 
        align-items: center;
        justify-content: center;
        z-index: 30;
    }

    .hambut button {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: flex; 
    }
    .hambut img{
        width: 40px;
        display: block;
        
        
    }
    .scrolled{
    background: #212ea0;
    }
  .navright{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 250px;
    background-color: #212ea0;
    color: white;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    z-index: 20;
    transform: translateX(100%);
    padding: 20px 35px;
    

  }
  .navright ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .navright img{
    margin-left: 20px;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 8%;

  }
  ul{
    display: flex;
    gap: 30px;
    flex-direction: column;
    list-style: none;
    
    cursor: pointer;
    margin-top: 4em;
}
.navright.active{
    transform: translateX(0);
}
  
}