.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.titles p{
    color: #212ea0;
    font-weight: bold;
}
.titles h1{
    color: #000f38;
}
.programs{
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 40px;

}
@media screen and (max-width: 748px) {
    .programs{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .pro{
        overflow: hidden;
    }
    .icondiv{
    transition: transform 0.5s ease;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    

    }
    .pro:hover .icondiv{
    transform: translateY(0);
    opacity: 1;
    }
    .titles{
        width: 100%;
        text-wrap: nowrap;
    }
    
}
.programs img{
    width: 100%;
    border-radius: 10px;
}

.pro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    position: relative;
    overflow: hidden;
}

.icondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 30;
    pointer-events: none;
    flex-direction: column;
    color: white;
    font-weight: bold;
    transition: transform 0.5s ease,opacity 0.5s ease;
    width: 100%;
    opacity: 0;
    transform: translateY(200px);
}
.icondiv img{
    width: 60px;
}
.pro:hover .icondiv{
    transform: translateY(0);
    opacity: 1;

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(5,0,58,0.4);
    opacity: 0;
    transition: all 0.5s ease;
}
.overlay:hover{
    opacity: 1;
}

